.header{
    text-align: center;
    font-size: 24px;
    background: red;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    text-shadow: 2px 2px black;
}

.cool-font{
    font-family: 'Lobster', cursive;
    color: white;

}

.burgerNew{
    background-color: red;
    text-align: center;
    text-shadow: 1px 1px black;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-right-width: 1px;
}

.burgerEaten{
    background-color: red;
    text-align: center;
    text-shadow: 1px 1px black;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-left-width: 1px;

}

.burgerHeader{
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

.burgerButton{
    margin-left: 37%;
}

.burgerForm{
    text-align: center;
}

